<mat-toolbar role="header">
  <button mat-raised-button [routerLink]="['/home']">
    Blog
  </button>
  <span class="header_spacer"></span>
  <div *ngIf="isAuthorized && user" class="row">
    <img class="d-none d-sm-block" src="{{user.image}}" />
    <span class="d-none d-sm-block">{{user.username}}</span>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="header_menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/post','create']" *ngIf="isAuthorized && user">
      <mat-icon>add</mat-icon>
      <span>Post</span>
    </button>
    <button mat-menu-item [routerLink]="['/stats']" *ngIf="isAuthorized && user">
      <mat-icon>trending_up</mat-icon>
      <span>Statistics</span>
    </button>
    <button mat-menu-item (click)="logout()" *ngIf="isAuthorized && user">
      <mat-icon>settings_backup_restore</mat-icon>
      <span>Logout</span>
    </button>
    <button mat-menu-item [routerLink]="['/login']" *ngIf="!isAuthorized">
      <mat-icon>perm_identity</mat-icon>
      <span>Login</span>
    </button>
  </mat-menu>
</mat-toolbar>