<mat-toolbar role="header">
  <button mat-raised-button [routerLink]="['/home']" class="d-none d-sm-block">
    Blog
  </button>
  <span class="header_spacer"></span>
  <div *ngIf="isAuthorized && user" class="row">
    <button mat-raised-button color="warn" [routerLink]="['/post','create']" class="header_button">
      <mat-icon>add</mat-icon> post
    </button>
    <img class="d-none d-sm-block" src="{{user.image}}" />
    <span class="d-none d-sm-block">{{user.username}}</span>
    <button color="primary" mat-raised-button (click)="logout()"> Logout
    </button>
  </div>
  <button color="accent" mat-raised-button [hidden]="isAuthorized" [routerLink]="['/login']"> Login
  </button>
</mat-toolbar>