<mat-toolbar role="header">
  <button mat-raised-button [routerLink]="['/home']">
    Blog
  </button>
  <span class="spacer"></span>
  <button mat-raised-button color="warn" [routerLink]="['/post','create']" class="add-post" *ngIf="isAuthorized">
    <mat-icon>add</mat-icon> post
  </button>
  <div *ngIf="isAuthorized && user">
    <img src="{{user.image}}" />
    <span>{{user.username}}</span>
    
    <button color="primary" mat-raised-button (click)="logout()"> Logout
    </button>
  </div>
  <button color="accent" mat-raised-button [hidden]="isAuthorized" [routerLink]="['/login']"> Login
  </button>
</mat-toolbar>