<app-loading-spinner [isLoading]="isLoading">
</app-loading-spinner>
<div class="row home" [hidden]="isLoading">
  <div class="col-lg-3">
    <h1 class="text-center">
      <mat-chip class="tag" color="accent" selected="true">
        <mat-icon>stars</mat-icon>Popular tags
      </mat-chip>
    </h1>
    <mat-chip-list class="text-center">
      <mat-chip class="tag" color="primary" selected="true" *ngFor="let tag of popularTags" [routerLink]="['/tag',tag.name]">{{tag.name}}</mat-chip>
    </mat-chip-list>
  </div>
  <div class="col-lg-5">
    <h1 class="text-center">
      <mat-chip class="tag" color="accent" selected="true">
        <mat-icon>subject</mat-icon>All posts ({{posts.length}})</mat-chip>
    </h1>
    <div *ngFor="let post of posts">
      <div class="col-lg-12 col-md-12">
        <app-post [post]="post" [user]="user"></app-post>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <h1 class="text-center">
      <mat-chip class="tag" color="accent" selected="true">
        <mat-icon>stars</mat-icon>Popular posts
      </mat-chip>
    </h1>
    <div *ngFor="let post of discussedPosts">
      <div class="col-lg-12 col-md-12">
        <app-post [post]="post" [user]="user"></app-post>
      </div>
    </div>
  </div>
</div>
