<div class="row auth">
  <div class="col-xs-12 col-sm-4 offset-sm-4 col-md-2 offset-md-5 col-lg-2 offset-lg-5">
    <h2 class="text-center">Authorization</h2>
    <form (submit)="login()" class="auth-container">
      <mat-form-field>
        <input matInput="text" placeholder="Username" [(ngModel)]='authModel.username' name='username'>
      </mat-form-field>

      <mat-form-field>
        <input matInput="password" placeholder="Password" [(ngModel)]='authModel.password' name='password'>
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary">
        Login
      </button>
    </form>
    <p>{{error}}</p>
  </div>

</div>